<div style="overflow-x:scroll">
  <div style="height: 100%;width: 100%;"scrollX="true">
    <canvas id="myChart" class="graph" ></canvas></div>
   <button class="btn btn-primary me-3" (click)="resetZoomChart()"><i
class="bi bi-arrow-clockwise"></i>Reset</button>
<button class="btn btn-primary me-3" (click)="zoombutton(1.1)"><i class="bi bi-zoom-in"></i> Zoom In</button>
<button class="btn btn-primary me-3" (click)="zoombutton(0.9)"><i class="bi bi-zoom-out"></i> Zoom Out</button>

  
  </div>
 

<!-- <app-users></app-users> -->
